{% extends "layout.html" %}

{% block content %}

<section id="intro">

    <header>
        <a href="/">
            <img src="logo.png" alt="Imagem da Logomarca">
        </a>
    </header>

    <main>
        <p>
            Ficar em casa em períodos longos, não deve ser nada fácil.
        </p>

        <p>
            Iremos catalogar <strong>ideias, brincadeiras, jogos, filmes,
                livros, cursos, dicas </strong> e tudo que for necessário para
            tornar esse momento mais interessante.
        </p>

        <p>
            Comece clicando em ver ideias para ver as ideias
            cadastradas e contribua adicioando a sua ideia.
        </p>
    </main>

    <section id="buttons">
        <button onclick="onOff()">+Adicionar ideia</button>
        <a href="/ideias" class="button">Ver Ideias</a>
    </section>

    <footer>
        <p id="footer">Com 💞<a href="http://youtube.com/c/pa!ciencias" target="_blank">Yuri</a></p>
        <!-- Simbolos: https://pt.piliapp.com/facebook-symbols/ -->
    </footer>
</section>

<section id="last-ideias">
    <!--estrutura de repetição  -->
    {% include "all_ideas.html"%}



    <!-- Você usa o # class e não o . id quando se vai repetir -->


</section>

{% endblock%}