/* CSS
Cascading StyleSheet */

/* 
    Tudo em CSS são BOX! 
    Espaçamento
    Posicionamento
    Borda
    Preenchimento -padding
    site referência: ccs trics  
    -Pixels é uma unidade fixa 
    - A aultura tem um comportamento padrão de maximo do conteudo, mas você pode customizar por height e overflow
    #é para ids .é para class
*/

/* GLOBAL */
body {
  background: #e5e5e5;
  color: #25282b;
  /* text-align: center; */
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body.hideScroll {
  overflow: hidden;
}

#modal.addScroll {
  overflow: auto;
}

#modal.hide {
  opacity: 0;
  visibility: hidden;
}

a {
  color: #ff5e84;
  font-weight: bold;
  text-decoration: none;
}
.button {
  color: white;
  background: #ff5e84;
  width: 150px;
  height: 40px;

  
  font-size: 14px;
  font-weight: bold;

  
  display: flex;
  align-items: center;
  justify-content: center;

  /* bordas arredondadas */
  /* arredontamento fino border-radius: 60px 0 */
  border-radius: 8px;

  /* adiciona uma pequena sombra na caixa eixo-x eixo-y blur rgbalpha o mesmo que # ff5e8432 */
  box-shadow: 0px 3px 20px rgba(255, 0, 92, 0.2);
}

.button:hover {
  background-color: #0984e3;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}

p,
.description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1;
}
/* Quanto mais profunda a cascata, maior a sua força */

#container {
  width: 90%;
  max-width: 980px;
  /* Criou uma margem com  */

  margin: 50px auto;
  /* Pega os filhos (child) do container e coloca em linha  */
  display: flex;
}

#intro {
  width: 300px;
  margin-right: 64px;
}

main {
  margin: 32px 0;
}

#buttons {
  margin-bottom: 32px;
  display: flex;
  /* só é aplicado quando eu tenho flex por exemplo, coloca espaço constante */
  justify-content: space-evenly;
  margin-bottom: 32px;
}

button {
  border: none;
  color: #ff5e84;
  background: none;
  font-weight: bold;
  /* coloca a mãozinha no botão */
  cursor: pointer;
  /* tira a linha do link */
  outline: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.2px;
}

button:hover {
  /* adiciona a linha no mouse em cima */
  text-decoration: underline;
}

footer {
  text-align: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;

  color: #777;
}

footer a {
  opacity: 0.7;
}

.idea {
  display: flex;

  background-color: #fff;

  /* sombra negativa é uma sombra "engolhida" com maior espalhamento */
  box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);

  border-radius: 8px;

  padding: 32px;

  margin-bottom: 32px;
}

.idea img {
  width: 60px;
  height: 60px;

  margin-right: 32px;
}

.idea h3 {
  margin-top: 0px;
}

.idea p {
  margin: 8px 0;
  color: #777;
}

.idea .description {
  margin: 16px 0;
}

#modal {
  background: #ff5e84;
  
  /* position: absolute; */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  /* width: 100vw;
  height: 100vw; */

  display: flex;
  justify-content: center;
  transition: 400ms;
}

#modal .content {
  margin-top: 4%;
  color: white;
}

#modal .content h1 {
  text-align: center;
  text-transform: uppercase;
}

#modal form {
  width: 80%;
  max-width: 800px;

  margin: 0 auto 15%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
  grid-column: span 2;
}

.content form {
  width: 80%;
  max-width: 800px;

  margin: 0 auto;
}

form input,
form textarea {
  width: 100%;

  padding: 12px;

  box-sizing: border-box;

  border-radius: 6px;
  border: 1px solid rgba(255, 93, 130, 0.16);
  outline: none;
  font-size: 16px;
}

form label {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.7px;
}

form a {
  width: 150px;
  height: 40px;
  background-color: #ffffff22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: bold;

  border-radius: 6px;
  align-self: end;

  transition: 400ms;
}

form a:hover {
  background: #fff;
  color: #ff5e84;
  text-decoration: none;
}

form button {
  background: white;
  width: 150px;
  height: 40px;

  border-radius: 6px;
  cursor: pointer;
  margin-top: 32px;

  grid-column: 2;
  justify-self: end;

  transition: 400ms;
}

form button:hover {
  background-color: #0984e3;
  color: white;
  text-decoration: none;
}

/* ideas.html */

#pageidea #container {
  display: block;
}

#pageidea header {
  display: flex;
  justify-content: space-between;
}

#pageidea nav {
  display: flex;
  align-items: center;
}

#pageidea nav li {
  list-style-type: none;
  margin-right: 16px;
}

#pageidea nav li a {
  color: #25282b;
}

#pageidea nav li a.button {
  color: white;
}


#pageidea nav li:last-child {
  margin: 0;
}

section#title {
  text-align: center;
  margin: 64px 0;
}

section#title  p {
  opacity: 0.7;
  margin: 0;
}

section#title h1 {
  margin: 0;
  font-size: 28px;
}

section#ideas {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

section#ideas .idea {
  margin: 0;
}

section#ideas,
section#title,
footer {
  margin-top: 64px;
}